<div class="game-container">
    <h4 class="game-title">{{this.name}}</h4>
    <img src="{{this.image}}" alt="{{this.name}}-poster">
    <h5 class="genre">{{this.genre}}</h5>
    <h5 class="platforms">{{this.platform}}</h5>
</div>