<div class="game-container">
    <h4 class="game-title">{{this.title}}</h4>
    <img src="{{this.img}}" alt="{{this.title}}-poster" class="game-poster">
    <h5 class="genre">{{this.genres}}</h5>
    <h5 class="platforms">{{this.plateform}}</h5>
    <a href="/games/collection/game/{{this._id}}">View details</a>
    <a class="addToCollec" data-id="{{this._id}}"><i class="far fa-plus-square"></i></a>
    <a class="addToFinish" data-id="{{this._id}}"><i class="far fa-check-square"></i></a>
</div>