<h1>Edit your account</h1>
<label for="name">Name</label><br>
<input class="input" type="text" id="name" name="username" value="{{user.username}}"><br>

<label for="pseudo">Pseudonym</label><br>
<input class="input" type="text" id="pseudo" name="pseudo" value="{{user.pseudo}}"><br>

<label for="age">Age</label><br>
<input class="input" type="number" id="age" name="age" value="{{user.age}}"><br>

<label for="img">Profile Picture</label>
<input class="input" type="file" id="img" name="image">
<button> Edit </button>

<div class="forms">
    <section class="indiv-form">
        <div class="genre-div-user">
            <label for="favConsole">Favourite Platforms : </label>
            <div class="chkbox-manage-account">
                {{#each platform}}
                {{#isSameId  this ../user.favConsole }}
                <div class="chkbox-container">
                    <label for="{{this}}">
                        <input type="checkbox" id="{{this}}" name="favConsole" value="{{this}}" checked>
                        <div class="checkbox-custom">
                            <div class="circle"></div>
                        </div>
                        {{this}}
                    </label>
                </div>
                {{else}}
                <div class="chkbox-container">
                    <label for="{{this}}">
                        <input type="checkbox" id="{{this}}" name="favConsole" value="{{this}}">
                        <div class="checkbox-custom">
                            <div class="circle"></div>
                        </div>
                        {{this}}
                    </label>
                </div>
                {{/isSameId}}
                {{/each}}
            </div>
        </div>
    </section>


    <section class="indiv-form">
        <div class="genre-div-user">
            <label for="favConsole">Favourite Genres : </label>
            <div class="chkbox-manage-account">
                {{#each genre}}
                {{#isSameId  this ../user.favGenre }}
                <div class="chkbox-container">
                    <label for="{{this}}">
                        <input type="checkbox" id="{{this}}" name="favGenre" value="{{this}}" checked>
                        <div class="checkbox-custom">
                            <div class="circle"></div>
                        </div>
                        {{this}}
                    </label>
                </div>
                {{else}}
                <div class="chkbox-container">
                    <label for="{{this}}">
                        <input type="checkbox" id="{{this}}" name="favGenre" value="{{this}}">
                        <div class="checkbox-custom">
                            <div class="circle"></div>
                        </div>
                        {{this}}
                    </label>
                </div>
                {{/isSameId}}
                {{/each}}
            </div>
        </div>
    </section>
</div>
