<h1>Edit {{user.username}} account</h1>
<label for="name">Name</label><br>
<input class="input" type="text" id="name" name="username" value="{{user.username}}"><br>

<label for="pseudo">Pseudonym</label><br>
<input class="input" type="text" id="pseudo" name="pseudo" value="{{user.pseudo}}"><br>

<label for="age">Age</label><br>
<input class="input" type="number" id="age" name="age" value="{{user.age}}"><br>

<div class="forms">
    <section class="indiv-form">
        <label for="favConsole">Favourite Platforms : </label>
        {{#each platform}}
        {{#isSameId  this ../user.favConsole }}
        <div>
            <input type="checkbox" id="{{this}}" name="favConsole" value="{{this}}" checked>
            <label for="{{this}}">{{this}}</label>
        </div>
        {{else}}
        <div>
            <input type="checkbox" id="{{this}}" name="favConsole" value="{{this}}">
            <label for="{{this}}">{{this}}</label>
        </div>
        {{/isSameId}}
        {{/each}}
    </section>


    <section class="indiv-form">
        <label for="favGenre">Favourite Genre : </label>
        {{#each genre}}
        {{#isSameId  this ../user.favGenre }}
        <div>
            <input type="checkbox" id="{{this}}" name="favGenre" value="{{this}}" checked>
            <label for="{{this}}">{{this}}</label>
        </div>
        {{else}}
        <div>
            <input type="checkbox" id="{{this}}" name="favGenre" value="{{this}}">
            <label for="{{this}}">{{this}}</label>
        </div>
        {{/isSameId}}
        {{/each}}
    </section>
</div>

<label for="img">Profile Picture</label>
<input class="input" type="file" id="img" name="image">

<button> Edit </button>