<h1>Welcome to your Collection Page</h1>

<h3>All Your Games</h3>
<section class="center-table"></section>
<table>
    <thead>
        <tr>
            <th><i class="far fa-images"></i> Cover</th>
            <th><i class="fab fa-galactic-senate"></i> Title</th>
            <th><i class="fas fa-dna"></i> Genre</th>
            <th><i class="fas fa-gamepad"></i> Platform</th>
            <th>Remove from My Collection</th>
        </tr>
    </thead>
    <tbody>
    {{#each user.owned}}
    <tr>
        <td><img src="{{this.img}}" alt="{{this.title}}" class="tableImage"></td>
        <td><a href="/games/collection/game/{{this._id}}">
            {{this.title}}</a>
        </td>
    <td>{{#each this.genres}}
        {{this}}, 
        {{/each}}
    </td>
    <td>{{#each this.plateform}}
        {{this}},  
        {{/each}}
    </td>
    <td><a class="del-owned" data-id="{{this._id}}"><i class="far fa-trash-alt"></i></a></td>
    </tr>
    {{/each}}
    </tbody>
</table>


<h3>All the games you finished</h3>
<table>
    <thead>
        <tr>
            <th class="collec-cover"><i class="far fa-images"></i> Cover</th>
            <th class="collec-title"><i class="fab fa-galactic-senate"></i> Title</th>
            <th class="collec-genre"><i class="fas fa-dna"></i> Genre</th>
            <th class="collec-platform"><i class="fas fa-gamepad"></i> Platform</th>
            <th class="collec-trash">Remove from My Collection</th>
        </tr>
    </thead>
    <tbody>
    {{#each user.finished}}
    <tr>
        <td><img src="{{this.img}}" alt="{{this.title}}" class="tableImage"></td>
        <td><a href="/games/collection/game/{{this._id}}">
            {{this.title}}</a>
        </td>
    <td>{{#each this.genres}}
        {{this}}, 
        {{/each}}</td>
    <td>{{#each this.plateform}}
        {{this}},  
        {{/each}}</td>
    <td><a class="del-finished" data-id="{{this._id}}"><i class="far fa-trash-alt"></i></a></td>
    </tr>
    {{/each}}
</tbody>
</table>
<h3>Your wishlist</h3>
<table>
    <thead>
        <tr>
            <th><i class="far fa-images"></i> Cover</th>
            <th><i class="fab fa-galactic-senate"></i> Title</th>
            <th><i class="fas fa-dna"></i> Genre</th>
            <th><i class="fas fa-gamepad"></i> Platform</th>
            <th>Remove from My Collection</th>
        </tr>
    </thead>
    <tbody>
    {{#each user.wishlist}}
    <tr>
        <td><img src="{{this.img}}" alt="{{this.title}}" class="tableImage"></td>
        <td><a href="/games/collection/game/{{this._id}}">
            {{this.title}}</a>
        </td>
    <td>{{#each this.genres}}
        {{this}}, 
        {{/each}}</td>
    <td>{{#each this.plateform}}
        {{this}},  
        {{/each}}</td>
    <td><a class="del-wish" data-id="{{this._id}}"><i class="far fa-trash-alt"></i></a></td>
    </tr>
    {{/each}}
</tbody>
</table>
   