<div class=" display-one-game">
    <div class="single-game">
        <img src="{{selectedGame.img}}" alt="{{selectedGame.title}}-poster" class="single-game-poster">
        <h4 class="single-game-title">{{selectedGame.title}}</h4>
        <div class="option-btns">
            <a class="addToCollec btn" data-id="{{selectedGame._id}}"><i class="far fa-plus-square"></i><br><span class="add-list">Add To My Collection</span></a>
            <a class="addToFinish btn" data-id="{{selectedGame._id}}"><i class="far fa-check-square"></i><br><span class="add-list">Add To My Finished Games</span></a>
            <a class="addToWish btn" data-id="{{selectedGame._id}}"><i class="fas fa-cart-plus"></i><br><span class="add-list">Add To My Wishlist</span></a>
        </div>
        <h5 class="single-genre">Genre:

            {{#each selectedGame.genres}}
            {{this}} /
            {{/each}}

        </h5>
        <h5 class="single-platforms">Platforms:
            {{#each selectedGame.plateform}}
            {{this}} /
            {{/each}} </h5>
        {{{description}}}
        <div class="screeshot-grid">
            {{#each selectedGame.screenshots}}
            <a href="{{this}}" target="_blank"> <img src="{{this}}" alt="{{this}}-screenshot"
                    class="single-game-screenshot"></a>
            {{/each}}
        </div>
        <iframe class="teaser" src="{{selectedGame.videos}}" frameborder="0" allowfullscreen></iframe>
        </iframe>
    </div>
</div>