<div class="display-one-game">
    <div class="single-game">
        <img src="{{selectedGame.img}}" alt="{{selectedGame.title}}-poster" class="single-game-poster">
        <h4 class="single-game-title">{{selectedGame.title}}</h4>
        <h5 class="single-genre">{{selectedGame.genres}}</h5>
        <h5 class="single-platforms">{{selectedGame.plateform}}</h5>
    </div>
</div>