<div>
    <p class="addToCollec" data-id="{{selectedGame._id}}">Add to My Collection</p>
    {{!-- <p class="addToFinish">Add to My Finished Games</p>
    <p class="addToWish">Add to my WishList</p> --}}

    <p class="addToWish" data-id="{{selectedGame._id}}"">Add to my WishList</p>
</div>
<div class=" display-one-game">
    <div class="single-game">
        <img src="{{selectedGame.img}}" alt="{{selectedGame.title}}-poster" class="single-game-poster">
        <h4 class="single-game-title">{{selectedGame.title}}</h4>
        <h5 class="single-genre">Genre: {{selectedGame.genres}} </h5>
        <h5 class="single-platforms">Platforms: {{selectedGame.plateform}} </h5>
        {{{description}}}
        <div class="screeshot-grid">
            {{#each selectedGame.screenshots}}
            <a href="{{this}}" target="_blank"> <img src="{{this}}" alt="{{this}}-screenshot"
                    class="single-game-screenshot"></a>
            {{/each}}
        </div>
        <iframe width="560" height="315" src="{{selectedGame.videos}}" frameborder="0" allowfullscreen></iframe>
        </iframe>
    </div>
</div>