<form class="form" action="/user/edit/{{this._id}}" method="POST" enctype="multipart/form-data">
    <h1>Edit {{this.name}} account</h1>
    <label for="name">Name</label>
    <input class="input" type="text" id="name" name="name" value="{{this.name}}">

    <label for="pseudo">Pseudonym</label>
    <input class="input" type="text" id="pseudo" name="pseudo" value="{{this.pseudo}}">

    <label for="age">Age</label>
    <input class="input" type="number" id="number" name="number" value="{{this.age}}">

    <label for="favConsole">Favourite Platforms</label>
    <input class="input" type="text" id="favConsole" name="favConsole" value="{{this.favConsole}}">

    <label for="favGenre">Favourite Genre</label>
    <input class="input" type="text" id="favGenre" name="favGenre" value="{{this.favGenre}}">

    <label for="img">Profile Picture</label>
    <input class="input" type="file" id="img" name="img" value="{{this.img}}">

    <button> Edit </button>

</form>